{% extends "header.html" %}
{% block title %}YouTube{% endblock %}
{% block content %}

<form action="#" method="POST">
    <div class="ytlink">
        <div class="linkprovider">Link</div>
        <input type="text" name="nm" placeholder="YouTube Video Link" class="linkplaceholder" />
        <div> <input type="submit" value="SUBMIT" class="button1" /> </div>
    </div>
</form>

<div class="info">
    {% with messages = get_flashed_messages() %}
    {% if messages %}
    {% for m in messages %}
    <p>{{m}}</p>
    {% endfor %}
    {% endif %}
    {% endwith %}
    <img class="mfcc_output" src="{{mfcc_link}}" alt="" srcset="">
    <img class="mfcc_output" src="{{prediction_link}}" alt="" srcset="">
</div>


{% endblock %}